@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');



.bg_overlay{
    background-image: url(./images/tet.png);
        background-color: rgba(0, 0, 0, 0.7);
        background-size: cover;
        background-position: top center;
        background-blend-mode: darken;
}
.halfcolor{
    background: linear-gradient(to bottom,
                #2B2F33 0%,
                #2B2F33 50%,
                #323131 50%,
                #323131 100%);
    /* background: linear-gradient(to bottom, #1F3933 0%, #1F3933 50%, #323131 50%,
        #323131 100%); */
}
.hide{
    border: none;
}
.hide:focus{
    border: none;
}
.title_font{
    font-family: 'Nunito Sans', sans-serif;
}

.mb__icon{
    display: none;
}

@media screen and (max-width:730px) {
    .app__nav{
        display: none;
    }
    .mb__icon{
        display: block;
    }
}


/* #1F3933 */