@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  
  font-family: 'Inter', sans-serif;
  /* font-family: 'Nunito Sans', sans-serif; */
  scroll-behavior: smooth;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.font-title{
  font-family: 'Moon Dance',cursive;
}
